html, body { height:100%; width: 100%; }
body {
    margin: 0;
}

.navbarMenu {
  position: fixed;
  z-index: 4;
  margin: 0;
  right:  0;
}

.navbarMenu-show, .operator-show{
  animation-name: anim-menu;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.navbarMenu-close, .operator-close{
  animation-name: close-menu;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


@keyframes  anim-menu {
  0%{
    margin-right: -500px;
  }
  100%{
    margin-right: 0;
  }
}

@keyframes  close-menu {
  0%{
    margin-right: 0;
  }
  100%{
    margin-right: -500px;
  }
}

#menuContent {
  width: 100%;
  margin-top: 90px;
  background-color: #ecde16c2;
  list-style-type: none;
  padding: 0;
  box-shadow: 0 10px 10px black;
  border-radius: 20px;
  border: rgba(255, 253, 105, 0.712)  inset;
}

#menuContent li{
  text-align: center;
  width:  100%;
  height: calc((100%-30%)/6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding: 20px 15px;
  border-radius: 20px;
}

#menuContent  li :target{
  display: none;
  background-color: rgb(39, 24, 24);
}


#menuContent  :hover{
  position: sticky;
  background: rgba(200,100,100, 0.5);
  cursor: pointer;
} 

#menu_btn, #close_btn {
  position: fixed;
  margin: 0;
  right:  0;
  z-index: 5;
  width: 70px;
  height: 70px;
  border: none;
  background: none;
  outline: none;
}

#call{
  position: fixed;
  right:  0;
  bottom: 0;
  z-index: 6;
  width: 70px;
  height: 70px;
  border: none;
  background: none;
  outline: none;
}

 #imgCall {
  position: relative;
  z-index: 7;
  cursor: pointer;
}

.callLeft{
  transition-duration: 3s ;
  transition-property: all;
  transform: rotate(0deg);
}

.callRight{
  transition-duration: 3s ;
  transform: rotate(-720deg);
}

#operator {
  position: fixed;
  z-index: 8;
  bottom: 10%;
  right:  1%;
  background-color: #ecde16c2;
  border: rgba(255, 253, 105, 0.712)  inset;
  border-radius: 15px;
  width: 400px;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 30px;
  padding-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 #operator input{
   border-radius: 20px;
   width: 100%;
   height: 15%;
   outline: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

section {
  display: flex;
  position: sticky;
    top: 0;
    z-index: 1;  
}

#left, #right {
  width: calc(calc(100%/2) - 30px);
  height: 3px;
   background-color: black;
   margin-top: 71px;
}

#left h1 {
  z-index: 1;
 margin-top: -60px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#middle img {
  float: middle;
  width: 80px;
   height: 100px;
}

#posterImg {
    margin-top: -105px;
}

#posterImg img {
    width: 100%;
    position: relative;
    z-index: 0
 
}

#posterImg h1 {
  font-weight: 600;
  color: rgb(255, 255, 255) ;
  position: sticky;
  z-index: 1;
  margin-top: -80px;
  margin-left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#devide1, #devide2, #devide3, #devide4{
  width: 100%;
  height: 5px;
  
}

#devide1 {
  margin-top: 35px;
  background-color: black;
}

#devide2, #devide3, #devide4 {
  margin-top: 10px;
  background-color: rgb(245, 220, 220);
}

#characteristics {
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  background-color: rgb(255, 255, 255);
}

#maxSpeed, #overclocking, #maximumPower, #typeEngine, #fuelTank, #transmision {
  background-color:rgb(241, 250, 187) ;
  border: 1px ridge;
  
  margin:  0px 10px;
 
}

#describe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px 20%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

#describe #headline {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 20px;
}

#describe #about {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 20px;
}

#aboutCar {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 2vw;
}

#aboutCar p{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  margin-top: 20px;
  margin: 30px 10%;
}

#aboutCar img{
  width: 60%;
  height: 60%;
  margin: 30px 10%;
}
