html, body { height:100%; width: 100%; }
body {
    margin: 0;
}

section {
  display: flex;
  position: sticky;
  right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    
    
}

#left, #right {
  width: calc(calc(100%/2) - 30px);
  height: 3px;
   background-color: black;
   margin-top: 71px;
}

#left h1 {
  z-index: 1;
 margin-top: -75px;
}

#middle img {
  float: middle;
  width: 80px;
   height: 100px;
}

#posterImg {
    margin-top: -105px;
}

#posterImg img {
    width: 100%;
    position: relative;
    z-index: 0
 
}

#posterImg h1 {
  font-weight: 500;
  color: rgb(255, 255, 255) ;
  position: absolute;
  z-index: 1;
  margin-top: -80px;
  margin-left: 30px;
}

#devide1 {
  width: 100%;
  height: 5px;
  background-color: black;
  margin-top: -5px;
}

#characteristics {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  background-color: burlywood;
}

#maxSpeed, #overclocking, #maximumPower {
  background-color: chocolate;
}

.container  {
    height: 100%;
    width: 100%;
}



